<h1 class="ui center aligned icon header">
  Welcome to MessageMe <em>- complete Chat App</em>
</h1>
<div class="ui center aligned icon header">
  <i class="empire icon"></i>
  <h2>Log in if you dare!</h2>
</div>



<div class="ui placeholder segment">
  <div class="ui two column very relaxed stackable grid">
    <div class="column">
      <div class="ui form">
        <div class="field">
          <label>Username</label>
          <div class="ui left icon input">
            <input type="text" placeholder="Trooper Number">
            <i class="user icon"></i>
          </div>
        </div>
        <div class="field">
          <label>Password</label>
          <div class="ui left icon input">
            <input type="password" placeholder="Code to the Death Star">
            <i class="lock icon"></i>
          </div>
        </div>
        <button class="ui small orange submit button">Login</button>
      </div>
    </div>
    <div class="middle aligned column">
      <div class="ui big orange button">
        <i class="signup inverted edit icon"></i>
        Sign Up
      </div>
    </div>
  </div>
  <div class="ui vertical divider">
    Or
  </div>
</div>